.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  text-align: left;
	font-size: 1rem;
	font-weight: 250;
}

.logo {
  width: 35vh;
  max-width: 35%;
  max-height: 14vh;
}

.hamburger {
	position: absolute;
	right: 0;
	top: 35px;
}

.navbar-toggler {
  max-height: 7vh;
}

.logo-container {
  text-align: left;
}

#main{
    /*background: linear-gradient(183deg, #eee4c6, #fad7f3, #8ecebd, #ffbbea); /** Estos son los colores que aparecen en el degradado, se pueden añadir o modificar claro**/
    background: linear-gradient(183deg, #eee4c6, #fad7f3, #e11b49, #2abdda);
    /*estos son los colores originales*/
    background-size: 800% 800%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#root h1 {
	font-size: 4.6875rem;
	font-weight: 225;
}

#root h1 {
	font-size: 3.6875rem;
	font-weight: 225;
}

#root h3 {
	font-size: 2.4rem;
	font-weight: 225;
}

#root h4 {
	font-size: 1rem;
	font-weight: 225;
}
